<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-12 col-md-5">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login Page</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                    </div>
                    <a style="cursor: pointer; color: white;" onclick="handlerLogin();" class="btn btn-primary btn-user btn-block">
                      Login
                    </a>
                    <hr>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

  <script>
    $('#email').on('keypress',function(e) {
    if(e.which == 13) {
        handlerLogin();
    }
    });
    $('#password').on('keypress',function(e) {
    if(e.which == 13) {
        handlerLogin();
    }
    });
    function handlerLogin() {
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/login',
            data: {
              "email": $('#email').val(),
              "password": $('#password').val()
            },
            dataType: 'JSON',
            crossDomain: false,
            cache: false,
        })
        .done(function(response){
          if (response.success == 'ok') {
            localStorage.setItem('dataUser', $('#email').val());
            location.href = '/';
          } else {
            alert('Error, email / password is wrong please try again later')
          }
        })
        .fail(function(err) {
          alert('Error, terjadi kesalahan silahkan coba lagi');
        });
    }
  </script>

</body>

</html>
